<body>
    <div class="content-container">

      <div id="title">Junfan Zhu</div>

      <!-- Menu icon -->
      <div id="menu-icon-shape">
        <div id="menu-icon">
          <div id="top"></div>
          <div id="middle"></div>
          <div id="bottom"></div>
        </div>
      </div>

      <!-- Overlay menu -->
      <div id="overlay-nav">
        <div id="nav-content">
          <ul>
            <li><a href="work.html"id="nav-content">Work</a></li>
            <li><a href="about.html"id="nav-content">About</a></li>
            <li><a href="contact.html"id="nav-content">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="navigation">
        <ul>  
          <li><a href="contact.html"id="nav-content">Contact</a></li>
          <li><a href="about.html"id="nav-content">About</a></li>
            <li><a href="work.html"id="nav-content">Work</a></li>
        </ul>
      </div>

      <div id="description">put your work here!!!</div>

    </div>
</body>
